<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>runtime log4j config</display-name>

    <listener>
        <listener-class>com.ee.LoggingBootstrap</listener-class>
    </listener>
    <listener>
        <listener-class>com.ee.RepeatedLogs</listener-class>
    </listener>
</web-app>
